@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    body {
        /* @apply font-[Raleway]; */
        /* @apply font-[Supreme]; */
    }
    li {
        /* @apply px-4; */
        /* @apply py-2; */
        /* @apply cursor-pointer */
    }
}

:root{
  --clr-yellow-400: #facc15;
  --clr-yellow-500: #eab308;
}

*, *::after, *::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: #eab308;
  font-family: 'Supreme', sans-serif;
}

body::-webkit-scrollbar{
  /* display: none; */
}

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 200;
}

h2 {
  font-size: 2.25rem; 
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  width: fit-content;
  border-bottom: 4px solid var(--clr-yellow-500);
}

h3{
  font-size: 1.75rem;
}

section {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

li {
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
}

@media screen and (min-width: 564px) {
  h1{
    font-size: 3.75rem;
  }
}