@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root{
  --clr-yellow-400: #facc15;
  --clr-yellow-500: #eab308;
  --clr-zinc-800:#27272a;
  --clr-zinc-300:#d4d4d8;
  --clr-zinc-500:#71717a;
}

*, *::after, *::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1rem;
  font-family: 'Supreme', sans-serif;
}

body{
  background-color: var(--clr-yellow-400);
}

body::-webkit-scrollbar{
  /* display: none; */
}

menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 1rem .5rem;
  border-radius: .375rem;
  max-width: 1032px;
  margin: 0 auto;
  top: 1rem;
  left: .5rem;
  right: .5rem;
  height: 4rem;
  z-index: 50;
  box-shadow: 0 0 10px 2px var(--clr-zinc-800);
  transition: all 500ms ease-in-out;
}

menu:hover {
  box-shadow: 0 0 7px 4px var(--clr-zinc-500);
}

.mobile-menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s;
  font-size: 2.25rem;
  opacity: 0;
  animation-name: menuLink;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.mobile-menu li:nth-child(n) {
  animation-delay: 100ms;
}

.mobile-menu li:nth-child(2) {
  animation-delay: 150ms;
}

.mobile-menu li:nth-child(3) {
  animation-delay: 200ms;
}
.mobile-menu li:nth-child(4) {
  animation-delay: 250ms;
}
.mobile-menu li:nth-child(5) {
  animation-delay: 300ms;
}
.mobile-menu li:nth-child(6) {
  animation-delay: 350ms;
}

h1 {
  font-size: 2rem;
  font-weight: 200;
}

h2 {
  font-size: 2.25rem; 
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  width: fit-content;
  border-bottom: 4px solid var(--clr-yellow-500);
}

h3{
  font-size: 1.75rem;
}

section {
  width: 100%;
  max-width: 1032px;
  box-shadow: 0 #d4d4d8;
  border-radius: .5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  height: fit-content;
  padding: 1rem 1rem 2rem;
  border: 1px solid var(--clr-zinc-800);
  box-shadow: 0 0 10px 0px var(--clr-zinc-800);
}

.section-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

li {
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  height: 2px;
  left: 0;
  bottom: -5px;
  width: 0;
  background: #eab308;
  transition: width .5s;
}

.name-container{
  cursor: pointer;
  transition: width 2s;
}

.name {
  width: 0px;
  transition: all 500ms;
}

.name-container:hover .name{
  width: 110px;
}

.nav-link:hover::after {
  width: 100%;
}

@media screen and (min-width: 564px) {
  h1{
    font-size: 3.75rem;
  }
}

@media screen and (max-width: 564px){
  .name {
    width: 0px;
  }
  .name-container:hover .name{
    width: 0px;
  }
}

@keyframes menuLink {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}