/* li:hover {
  background-color: #122e58;
} */

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
      to right,
      rgba(112, 157, 255, 0.8),
      hsla(242, 74%, 61%, 0.8)   
  )!important;
}

.skills-container > .skill-card{
  transition: scale 200ms ease, opacity 100ms linear;
  cursor: pointer;
}

.skills-container > .skill-card:hover{
  transition: scale 200ms ease, opacity 100ms linear;
  scale: 1.1;
}

.skills-container > .skill-card:not(:hover){
  transition: scale 200ms ease, opacity 100ms linear;
}

.skills-container:has(.skill-card:hover) > .skill-card:not(:hover){
  transition: scale 200ms ease, opacity 100ms linear;
  scale: .9;
  opacity: .5;
}